@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


/* Global Styles */

h1 {
    font-size: 70px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 55px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 28px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 15px;
}

p {
    font-size: 20px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}

button.white {
    font-size: 18px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
    transition: 0.3s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* products */
#product1 {
    text-align: center;
}

#product1 .pro_container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* product-details */
#pro_detail {
    display: flex;
    margin-top: 20px;
}

#pro_detail .single_pro_image {
    width: 40%;
    margin-right: 50px;
}

.small_img_group {
    display: flex;
    justify-content: space-between;
}

.small_img_col {
    flex-basis: 24%;
    cursor: pointer;
}

#pro_detail .single_pro_details {
    width: 50%;
    padding-top: 30px;
}

#pro_detail .single_pro_details h4 {
    padding: 40px 0 20px 0;
}

#pro_detail .single_pro_details h2 {
    font-size: 30px;
}

#pro_detail .single_pro_details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#pro_detail .single_pro_details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

#pro_detail .single_pro_details input:focus {
    outline: none;
}

#pro_detail .single_pro_details button {
    background: red;
    color: #fff;
}

#pro_detail .single_pro_details span {
    line-height: 25px;

}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 20px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 20px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    font-size: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 15px;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #041e42;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copy-right {
    width: 100%;
    text-align: center;
}